# SPDX-FileCopyrightText: Contributors to the Transformer Thermal Model project
#
# SPDX-License-Identifier: MPL-2.0

* @alliander-opensource/dali

# The following rule assigns ownership of the CODEOWNERS file itself. 
# Note: The last matching rule takes precedence according to GitHub documentation.
.github/CODEOWNERS @GroenteLepel @Harm1995 @Jonasvdbo