/* SPDX-FileCopyrightText: Contributors to the Transformer Thermal Model project

 SPDX-License-Identifier: MPL-2.0 */
:root>* {
    --md-primary-fg-color: #006131;
    --md-primary-fg-color--light: #a8ec58;
    --md-primary-fg-color--dark: #006131;
    --md-accent-fg-color: #e56c00;
}